# requirements.txt
fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.0.0
requests==2.31.0
pydantic==2.4.2
pytest==7.4.2
httpx==0.25.0
python-multipart==0.0.6  # Pour la gestion des formulaires
email-validator==2.1.0.post1  # Pour la validation des emails
pytest-asyncio==0.21.1  # Pour les tests asynchrones
redis>=4.5.0
prometheus-fastapi-instrumentator>=6.0.0
python-json-logger>=2.0.7
locust==2.15.1
prometheus-client==0.17.0